[submodule "keyboards/qk61/keymaps/vim/qmk-myfn"]
	path = keyboards/qk61/keymaps/vim/qmk-myfn
	url = git@github.com:springremember/qmk-myfn.git
[submodule "keyboards/qk61/keymaps/vim/qmk-vim"]
	path = keyboards/qk61/keymaps/vim/qmk-vim
	url = git@github.com:springremember/qmk-vim.git
